GomokuBackend/env
GomokuBackend/static
# GomokuBackend/routing/__pycache__
# GomokuBackend/app/__pycache__
# GomokuBackend/app/views/__pycache__
__pycache__
GomokuBackend/log
.DS_Store

ARGomoku/Packages/com.ptc.vuforia.engine-10.13.3.tgz
